body {
	background-image: url("pexels-photo.jpg");
	background-size:  100% 500px;
	background-repeat: no-repeat;
	background-color: #6B6B6B; 
	height: 100%;

}
img {
	width: 1024px;
	overflow: hidden;	
}
/*#planetImage {
	background-image: url("planet1.png");
	background-size: 100px;
	background-repeat: no-repeat;
	z-index: 11;
	display: inline;
}*/
#planet {
	width: 100px;
	margin-top: 280	px;
}
#planet1 {
	float: right;
	width: 50px;
	margin-top: 200px;
}
#container {
	margin: 0 auto;
	width: 1024px;
}
header {
	margin-top: 100px;
}
#title1 {
	margin: 0 auto;
	background-color: #838383;
	opacity: 0.9;
	width: 500px;
	z-index: -10;
	position: absolute;
	height: 110px;
	left: 0;
    right: 0;
    border-radius: 10px 10px 0 0;
}	
h1 {
	font-size: 3.2em;
	color: #DDDDDD;
	text-align: center;
	margin-bottom: 0;
	z-index: 10;
	margin-top: 0px;
}
h3 {
	font-size: 1.4em;
	font-weight: normal;
	color: #DDDDDD;
	text-align: center;
	z-index: 10;
}
section {
	margin-top: 400px;
}
h2 {
	text-align: center;
	font-size: 3.2em;
	color: #DDDDDD;
	margin-top: 90px;
}
p {
	text-align: center;
	color: #DDDDDD;
	font-size: 1.5em;
}
#wrapper {
	margin: 0 auto;
	width: 576px;
	padding-left: 25px;
}
.skillImages {
	float: left;
	opacity: 0;
	transform: translateX(20px);
	transition: all 0.3s ease-in-out;
	opacity: 1;
}
.image img:hover {
	background-color: tomato;
}
a.example .image:hover img{
	background-color: tomato;
}
.reset {
	clear: both;
}
#html1 {
	width: 175px
}
#css1 {
	width: 127px;
    padding-top: 38px;
}
#boot1 {
	width: 205px;
    padding: 35px;
}
#toolBoxContainer {
	margin: 0 auto;
	width: 910px;
	padding-left: 10px;
	padding-bottom: 200px;
	width: 100%;
}
.image {
	width: 200px;
	height: 150px	;
	border: 1px solid #000;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	margin-right: 25px;
	margin-top: 25px;
	float: left;
}
.image:hover {
	background-color: grey;
	opacity: 0.7
}
footer {
	background-color: #000;
	height: 50px;
	color: #fff;
	text-align: center;
	padding-top: 15px;
}
.parah {
  	width: 500px;
  	margin: 0 auto;
  }
@media (max-width: 1100px) {
  img#planet1, img#planet {
  	display: none;
  }
  #title1 {
  	position: relative;
  }
  article {
    width: 850px;
    margin: 0 auto;
  } 
}
@media (max-width: 1100px) {
	.example {
  		display: inline-block;
  		text-align: center;
  		margin:0 auto;
  }
	.jump {
		clear: both;
	}
	#toolBoxContainer {
		text-align: center;
	}
	.image {
		width: 300px;
		height: 250px;
	}
}
@media (max-width: 940px) {
	#toolBoxContainer {
		width: 53%;
		display: block;
	}
	#container {
		width: 100%;
	}
	* {
		width: 100% !important;
	}
	img.image {
	width: 200px !important;
	height: 150px;
	}
	p {
		width: 80%;
	}
	.skillImages {
		display: none;
	}
}
