html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	padding: 0;
	margin: 0;
}
#topNav {
	background-color: #222;
	height: 50px;
}
.topLinks {
	float: left;
	color: #fff;
	list-style: none;
	text-decoration: none;	
	padding: 17px 13px 17px 13px;
}
.topLinks:hover {
	background-color: grey;
	border-radius: 5px;	
	padding: 17px 13px 17px 13px;
}
a {
	text-decoration: none;
	padding: 0 0 19px 0;
}
/*a.topLinks:hover {
	background-color: #080808;
	padding: 0px 5px 10px 5px;	
}*/
/*a:hover {
	background-color: #080808;
	padding: 10px 0 0 0;
	
	
}*/
.topLinksRight, #signIn {
	float: right;
	color: #fff;
	margin: 15px 20px 0 0;
	text-decoration: none;
	padding: 0 0 19px 0;
}
#signIn {
	background-color: #056CB6;
	border-radius: 3px;
	padding: 9px;
	margin-top: 6px	;
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#logo {
	height: 48px;
	margin-top: 12px;
	padding-top: 5px;
}
input {
	padding: 9px;
	width: 280px;
	border-radius: 5px 0 0 5px;
	color: #BEBEBE;
	font-size: .9em;
}
nav {
	z-index: 10
}
.wrapper {
	display: none;
}
#topLinkList {
	padding-left: 5px;
}
.floatedCraits {
	z-index: 1000;
	position: relative;
}
#wrapper1, #wrapper2, #wrapper3, #wrapper4, #wrapper5 {
	border: 1px solid #000;
	border-radius: 0 0 3px 3px;
	width: 170px;
	position: absolute;
	top: 48px;
	background-color: #fff;
	z-index: 100;
	font-size: 13px;
	display: none;
}
#wrapper2 {
	width: 230px;
	left: 107px;
}
#wrapper3 {
	left: 215px;
}
#wrapper4 {
	left: 287px;
}
#wrapper5 {
	left: 376px;
}
#wrapper1 li, #wrapper2 li, #wrapper3 li, #wrapper4 li, #wrapper5 li  {
	margin: 12px 10px 12px 20px;
	list-style: none;

	text-decoration: none;
}
.wrapper1, .wrapper2 li a {
	list-style: none;
	text-decoration: none;
	color: #000;
}
#floatedCraits:nth-child(2) {
	display: none;
}
#onlineLeaningLink {
	margin: 25px 1px 1px 40px;
	border-left: #EFEFEF;
	color: #fff;
	font-size: 1.7em;
	text-decoration: none;
	position: absolute;
}
#startNav {
	padding: 9px;
	background-color: #056CB6;
}
form {
	float: right;
	margin-top: -44px;
	margin-left: 59%;
}
#searchIcon {
	width: 45px;
	float: right;
}
#subLinks {
	margin-top: 15px;
}
.midLevelLinks {
	float: left;
	text-decoration: none;
	margin-right: 10px;
	color: #1072B9;
	font-size: .7em;
}
.active {
	color: #999;
	font-size: .7em;
}
.thirdNav {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	border-right: 1px solid #fff;
	margin-right: 10px;
	padding: 0 13px 0 13px;
}
#thirdNav {
	background-color: #056CB6;
	height: 40px;
	margin-top: 60px;
	margin-bottom: 20px;
	color: #fff;
	border-bottom: 5px solid #626263;
}
#iconImage >img {
	height: 30px;
	padding-top: 4px;
	padding-right: 30px;
	float: right;
}
#article {
	background-color: #5C9FCC;
	width: 610px;
	height: 115px;
	border-top: 5px solid #266DAA;
	float: left;
	margin-right: 25px;
}
h1 {
	color: #fff;
	font-size: 2.6em;
	padding-top: 65px;
	padding-left: 15px;
}
#aside {
	float: left;
	border-top: 5px solid #266DAA;
	padding-bottom: 20px;
}
.reset {
	clear: both;
}
#mamstuding {
	height: 115px;	
}
h2 {
	color: #5BA0CF;
	font-size: 2.1em;
	padding-bottom: 30px;
}
#student {
	width: 620px;
	border-top: 5px solid #88ACCA;
}
article {
	width: 620px;
	float: left;
}
#asideColums {
	float: left;
	margin-left: 13px;
}
p {
	margin-top: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: .025em;
	line-height: 1.3em;
}
.colum {
	background-color: #EBEBEB;
	width: 325px;
	height: 177px;
}
.columMiddle {
	background-color: #DADADA;
	width: 325px;
}
.button {
	background-color: #FF960E;
	height: 25px;
	width: 130px;
	margin: 0 auto;
    text-align: center;
    padding-top: 7px;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: .85em;
    font-weight: bold;
}
p.asideLinks, h3 {
	text-align: center;
}
h3 {
	padding-top: 20px;
}
#careerOpportunies {
	height: 20px;
	width: 300px;
	background-color: #73AED6;
	padding: 20px 0 20px 20px;
	color: #fff;
	margin-top: 40px;
	font-size: 1.4em;
	letter-spacing: 1.4px
}
h4 {
	color: #2F699C;
	font-size: 1.5em;
	margin-top: 10px;
	line-height: 1.3em;
}
#futureSkills{
	width: 600px;
	float: left;
}
ol {
	line-height: 1.4em;
    font-size: .9em;
}
#asideDiv {
	width: 65px;
	background-color: #FBEAD5;
	border-top: 5px solid #FF960E;
	border-bottom: 5px solid #FF960E;
	width: 190px;
	padding: 30px 30px 5px 30px;
	color: #945605;
	float: left;
	margin-left: 100px;
}
